@{
    ViewBag.Title = "About";
}
<div id="content">
    <div class="container">

        <div class="col-md-12">


            <div class="box" id="contact">
                <h1>About</h1>

                <!-- Intro Content -->
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="~/Assets/img/placeholder-750-450.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2>Atlas Supplements</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
                    </div>
                </div>
                <!-- /.row -->
                <!-- Team Members -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Our Team</h2>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="~/Assets/img/phil.png" alt="">
                            <div class="caption">
                                <h3>
                                    Philip Tietjen<br>
                                    <small>Duder</small>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="~/Assets/img/chris.png" alt="">
                            <div class="caption">
                                <h3>
                                    Chris Naismith<br>
                                    <small>Duder</small>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="~/Assets/img/placeholder-400-400.jpg" alt="">
                            <div class="caption">
                                <h3>
                                    Ryan Kornyk<br>
                                    <small>Duder</small>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="~/Assets/img/christian.png" alt="">
                            <div class="caption">
                                <h3>
                                    Christian Simpson<br>
                                    <small>Duder</small>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- /.row -->
               

            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->

